# Logs
logs
*.log

# IDEs
.idea
.vscode

# System Files
.DS_Store
Thumbs.db

# Node & npm
node_modules
.npm
npm-debug.log*

# Typescript
*.tsbuildinfo

# Secrets
.env
.envrc
.env.*
!.env.example

# Compiled output
dist
tmp
out-tsc
coverage
