{
  "$schema": "https://swc.rs/schema.json",
  "minify": false,
  "sourceMaps": true,
  "env": {
    "mode": "entry",
    "coreJs": "3.22",
    "targets": "> 0.25%, not dead"
  },
  "jsc": {
    "externalHelpers": true,
    "minify": {
      "format": {
        "comments": "all"
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
